body {
  background-color: rgb(1, 68, 94);
  margin: 0 auto;
}

#header {
  text-align: center;
  padding: 100px;
  background-image: url(../../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#header .jumbotron {
  border-radius: 20px;
  padding: 200px;
  font-size: 30px;
}

#header h1 {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  font-size: 70px;
}

.container {
  max-width: 1280px;
  padding: 10px 100px;
  background-color: white;
}

h2 {
  text-align: center;
  color: black;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}

#Intro .col {
  text-align: center;
  margin: 0px 10em 0px 10em;
}

#pic {
  border-radius: 50%;
  padding-top: 20px;
}

h3 {
}

#Education .col {
  text-align: center;
}

#Education {
  background-color: rgb(245, 203, 113);
}

#MP {
  background-color: rgb(245, 203, 113);
}

#Education h2 {
  border-bottom: 1px solid grey;
}

#Education hr {
  border-bottom: 1px solid grey;
}

#MP h2 {
  border-bottom: 1px solid grey;
}

#MP hr {
  border-bottom: 1px solid grey;
}

